.main ::-webkit-scrollbar {
  display: none;
}

.main {
  position: relative;
  height: 100%;

  display: flex;
  flex-direction: column;

  flex: 0.85;

  background-color: rgb(109, 106, 106);
  overflow: hidden;
}

.main__header {
  width: 95%;

  flex: 0.11;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;

  background-color: rgb(109, 106, 106);
  color: white;
}

.main__p {
  width: 20%;

  text-align: center;
  font-size: 18px;
}

.main__container {
  position: relative;
  width: 95%;
  height: 65%;

  flex: 0.75;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;

  opacity: 0;
}

.main__spacer {
  flex: 0.1;
}
