* {
  margin: 0;
  padding: 0;
}

a {
  list-style: none;
  text-decoration: none;

  color: black;
}

.app {
  position: relative;
  width: 100vw;
  height: 100vh;

  display: flex;

  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}
